button {
    display: flex;
    width: 179.841px;
    height: 60px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #F8F8F8;
    cursor: pointer;
    border: none;
}

button.forward {
    display: inline-flex;
    height: 60px;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background-color: aquamarine;
}